/* HTML5 Boilerplate
 * ==|== normalize.css ==========================================================
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

a {
  color: #00e;
}

a:visited {
  color: #551a8b;
}

a:hover {
  color: #06e;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 0;
  padding: 0;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
  *overflow: visible;
}

table button, table input {
  *overflow: auto;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ======================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.ir br {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
}

::-moz-selection {
  background: #318dfd;
  color: #fff;
}

::selection {
  background: #318dfd;
  color: #fff;
}

* {
  box-sizing: border-box;
}

a {
  -moz-transition: 200ms;
  -o-transition: 200ms;
  -webkit-transition: 200ms;
  transition: 200ms;
  text-decoration: none;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

.tabs-css {
  float: left;
  width: 100%;
}
.tabs-css > section {
  display: none;
}
.tabs-css > input {
  display: none;
}
.tabs-css > label {
  display: inline-block;
  background-color: rgba(240, 240, 240, 0.7);
}
.tabs-css #tab1:checked ~ #content1,
.tabs-css #tab2:checked ~ #content2 {
  display: block;
}
.tabs-css #tab1:checked ~ #labeltab1,
.tabs-css #tab2:checked ~ #labeltab2 {
  background-color: white;
  border-bottom: 1px solid #fff;
  pointer-events: none;
}
.tabs-css section {
  float: left;
  width: 100%;
  background-color: white;
  padding: 10px 15px;
  margin-top: -1px;
  border: 1px solid #dedede;
}

#test-section {
  background: #f4f4f4;
  border: 1px solid #ddd;
  max-width: 90vw;
  width: 900px;
  margin: 0;
}
#test-section .product-details {
  display: flex;
  width: 100%;
}
#test-section .product-details .product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 10px 5px;
  text-align: center;
  background: #FFF;
  border: 1px solid #ddd;
}
#test-section .product-details .product-image img {
  max-height: 40vh;
}
#test-section .product-details .product-description {
  width: 50%;
  padding-left: 25px;
}
#test-section .product-tabs {
  display: block;
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 20px 0;
  margin: 20px 0 0;
}

.product-description article {
  display: block;
  margin: 0 0 10px;
}
.product-description article:last-child {
  margin-bottom: 0;
}
.product-description .vip-price {
  font-size: 35px;
}
.product-description .option-selecion div {
  display: block;
  width: 100%;
  padding: 2.5px 0;
}
.product-description .option-selecion div label {
  width: auto;
}
.product-description .actions {
  padding-top: 15px;
}
.product-description .actions > span {
  display: block;
  font-size: 11px;
  margin-top: 5px;
  width: 100%;
}
.product-description .related-products {
  margin: 25px 0 0;
}
.product-description .related-products h2 {
  font-size: 18px;
}

.product-tabs {
  display: block;
  width: 100%;
}
.product-tabs .tabs-css > label {
  padding: 5px 15px;
}
.product-tabs .tabs-css label:first-of-type {
  margin-left: 10px;
}
.product-tabs .tabs-css label:last-of-type {
  margin-right: 10px;
}

.question-container .question-item:not(:last-child) {
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.question-container .question-item .question {
  padding: 2px 5px;
  background: rgba(221, 221, 221, 0.5);
}
.question-container .question-item .question.a {
  background: rgba(221, 221, 221, 0.2);
}
.question-container .question-item .question > span {
  font-size: 11px;
}
.question-container .question-item .question > p {
  padding: 0 0 0 10px;
}
